#navbarAP {
  margin-left: 10px;
}

#iconmenu {
  margin-right: 10px;	
}

#card {
  margin-left:8px; margin-top:4px; margin-bottom:8px;
}
#card1 {
  margin-left:8px; margin-top:4px; margin-bottom:8px;
}
#card2 {
  margin-left:8px; margin-top:4px; margin-bottom:8px;
}